/* CSS Reset inspired by Kevin Powell */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%; /* 16px default */
    line-height: 1.5;
    -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape */
    text-size-adjust: 100%; /* Add unprefixed property for broader support */
}

body {
    min-height: 100vh;
    font-family: system-ui, sans-serif;
    background-color: #fff;
    color: #000;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit; /* Ensure consistent font styles */
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
