<div class="container">
    <h2>Contact</h2>
    <div class="contact">
        <p>
            <i class="bx bx-building-house"></i> 89 AIA Cappital , 8th
            Floor,Unit 806-807,Ratchadaphisak Road, Din Daeng, Bangkok 10400
        </p>
        <p><i class="bx bx-phone"></i> (+66)2-245-1459</p>
        <p><i class="bx bx-envelope"></i> contact@sunnyworld.co.th</p>
    </div>
    <div class="contact-form">
        <form action="#" method="post">
            <label for="name">Name:</label>
            <input type="text" id="name" required />
            <label for="email">Email:</label>
            <input type="email" id="email" required />
            <label for="message">Message:</label>
            <textarea id="message" rows="5" required></textarea>
            <button type="submit">Send Message</button>
        </form>
    </div>
</div>
<div class="copyright">
    <i class="bx bx-copyright">2025 sunnyworld co.,ltd. All Rights Reserved</i>
    <a href="https://www.vecteezy.com/free-vector/shapes"
        >Shapes Vectors by Vecteezy</a
    >
</div>
