<div class="header-container">
    <img
        class="logo light-logo"
        src="./images/logo.png"
        alt="SD Consulting Logo"
    />
    <img
        class="logo dark-logo"
        src="./images/logo.png"
        alt="SD Consulting Logo"
    />
    <nav class="nav" id="nav-menu">
        <a href="#">Home</a>
        <a href="#">About Us</a>
        <a href="#">Services</a>
        <a href="#">Portfolio</a>
        <a href="#">Contact Us</a>
    </nav>
    <div class="header-actions">
        <button id="themeToggle" aria-label="Toggle Dark Mode">
            <i class="bx bx-moon"></i>
        </button>
        <button id="menuToggle" class="menu-toggle" aria-label="Toggle Menu">
            <i class="bx bx-menu"></i>
        </button>
    </div>
</div>
